<ion-content>
  
  <h1 class="title">Distância Percorrida</h1>

  <div class="container">
    <!-- Barra de Desidratação (azul) -->
    <h2>Barra de Desidratação</h2>
    <br><br>
    <div class="hydration-bar">
      <div class="hydration-fill" [style.width]="hydrationLevel + '%'"></div>
    </div>
    
      <!-- Distância percorrida -->
      <p>Distância percorrida: {{ formatarDistancia() }}</p>

        <!-- Botões iniciar/parar corrida -->
    <div class="tracking-buttons">
      <ion-button color="success" shape="round" style="width: 170px; height: 40px;"  *ngIf="!rastreamentoAtivo" (click)="iniciarCaminhada()">
        Iniciar Corrida
      </ion-button>

      <ion-button  color="danger" shape="round" style="width: 170px; height: 40px;"*ngIf="rastreamentoAtivo" (click)="pararCaminhada()">
        Parar Corrida
      </ion-button>
    </div>

      <!-- Status do rastreamento -->
      <p>Status: {{ status }}</p>
  </div>





</ion-content>
