ion-content{
  --background: linear-gradient(to bottom, #a8c8ff, #3f8ceb);
}

form {
    width: 100%;
    margin-left: 10%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 2rem;
  margin-top: 20%;
}

ion-input {
    width: 85%;
    background: #fff3d6;
    border-radius: 8px;
    border: 2px solid #f1d9a9;
    color: black;
    padding: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-button {
    width: 80%;
    padding: 0.8rem;
    margin-top: 0.8rem;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-cadastro {
  background: linear-gradient(90deg, #a3daff, #89c9ff);
  color: #003366;
  box-shadow: 0 4px 8px rgba(0, 102, 204, 0.2);
  
}
.btn-cadastro:hover {
  transform: scale(1.03);
}

.btn-voltar {
  background: linear-gradient(90deg, #c6ffe0, #a4f0ce);
  color: #005544;
  box-shadow: 0 4px 8px rgba(0, 150, 100, 0.2);
}

.btn-voltar:hover {
  transform: scale(1.03);
}