/* Fundo geral */
ion-content {
  --background: none; /* remove o fundo padrão do Ionic */
  background-image: url('../../../assets/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* centraliza o conteúdo na parte inferior */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* envia para o fundo */
  align-items: center;
  padding-bottom: 10%; /* afasta um pouco do final */
}

/* Caixa dos inputs */
.input-box {
  width: 80%;
  background: #fff3d6;
  border-radius: 8px;
  border: 2px solid #f1d9a9;
  padding: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-box ion-icon {
  margin-right: 8px;
  color: #3a3a3a;
}

.input-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* Área dos inputs e botões agrupados */
.form-container {
  margin-top: 110%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Botões */
button {
  width: 80%;
  padding: 0.8rem;
  margin-top: 0.8rem;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

/* Botão Entrar */
.btn-entrar {
  background: linear-gradient(90deg, #a3daff, #89c9ff);
  color: #003366;
  box-shadow: 0 4px 8px rgba(0, 102, 204, 0.2);
  
}

.btn-entrar:hover {
  transform: scale(1.03);
}

/* Botão Cadastrar-se */
.btn-cadastrar {
  background: linear-gradient(90deg, #c6ffe0, #a4f0ce);
  color: #005544;
  box-shadow: 0 4px 8px rgba(0, 150, 100, 0.2);
}

.btn-cadastrar:hover {
  transform: scale(1.03);
}
